/* For ALL pages */

/* Navigation bar */
.topnav {
    overflow: hidden;
    float: right;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
    font-family: rusticPrinted;
    z-index: 9;
    position: absolute;
    left: auto;
    right: 0;
}
  
.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: rusticPrinted;
}
  
.topnav a:hover {
    color: red;
}

.topnav a.active {
    text-decoration: underline;
}

/* General */
@font-face {
    font-family: rusticPrinted;
    src: url('rustic-printed-9718688/Rustic Printed.ttf');
}

body {
    background-color: black;
    color: white;
    font-family: rusticPrinted;
}

.center {
    margin: auto;
    padding: 10px;
}

img {
    object-fit: cover;
    margin: 3px;
    padding: 3px;
}

p {
    text-align: center;
    font-family: rusticPrinted;
}

span.upper-case {
    font-size:20px;
}

.head-background {
    z-index: 0;
    top: 0;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.head-background img {
    object-fit: contain;
    max-width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

.invisible {
    display: none;
}

.remaining-content {
    position: relative;
    z-index: 9;
    margin: auto;
    padding: 10px;
}

/* home page */
#background-video {
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 50%;
    height: auto;
}

#home-logo {
    position: absolute;
    /* left: 50%; */
}

#header-bottom {
    position: absolute;
    width: 100vw;
}

.embedded-movie img {
    object-fit: contain;
    max-width: 100%;
}

/* About page */
hr {
    width: 80%;
    color: white;
    size: 55px;
} /* seems like this doesn't work?? */

.about-content p {
    text-align: justify;
}

/* Projects page */
.movie-poster {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.movie-poster:hover {
    cursor:pointer;
}

.movie-content {
    padding: 50px;
}

#movie-player-thumbnail {
    object-fit: contain;
    max-width: 100%;
}

/* Projects page: Gallery */
#selected-photo img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    /* display: inline-block; */
}

.prev {
    margin-right: 0;
    margin-left: auto;
    right: 0;
}

.next {
    margin-left: 0;
    margin-right: auto;
    left: 0;
}

.prev:hover, .next:hover {
    color: red;
}

#photo-options {
    overflow: scroll;
    white-space:nowrap;
    margin: auto;
    width: 100%;
    padding: 10px;
}

#photo-options img {
    max-width: 25%;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    display:inline-block;
}

.unselected {
    opacity: 0.4;
    border: 2px solid transparent;
}

.unselected:hover {
    opacity: 1;
}

.selected {
    border: 2px solid red;
    margin: -2px;
}

/* Contacts page */
.contact-content a {
    color:white;
}

.contact-content a:hover {
    color:red;
}

.contact-content p {
    margin-bottom: 5px;
}

.logo-sw:hover {
    cursor: pointer;
}

.social-media-banner {
    position: relative;
}


@media screen and (min-width:821px) {
    .topnav a {
        padding: 14px 16px;
        font-size: 17px;
    }

    .social-media-banner {
        height: 50px;
        width: 50px;
    }

    iframe {
        height: 600px;
    }
    
    /* about, projects, contact pages */
    .logo-sw {
        width: 15%;
        height: auto;
        margin-left: 10px;
        margin-top: 10px;
        position: absolute;
    }

    .remaining-content .about {
        top: 450px;
    }

    /* .remaining-content .projects {
        top: 200px;
    } */
    
    .about-content p {
        width: 75%;
        align-self: center;
    }
    
    .project-content {
        width: 75%;
    }

    #selected-photo img {
        max-width: 80%;
    }

    #photo-options {
        max-width: 80%;
    }
    
    .contact-content {
        width: 50%;
    }

}

@media only screen and (max-width: 820px) {
    .topnav a {
        padding: 5px 10px;
        font-size: 12px;
    }

    .social-media-banner {
        height: 30px;
        width: 30px;
    }

    iframe {
        height: 200px;
    }

    #header-bottom h4 {
        font-size: 12px;
    }

    .logo {
        max-width: 40%;
    }

    .about-content {
        width: 90%;
        text-align: center;
    }

    .project-content {
        width: 90%;
    }

    #selected-photo img {
        max-width: 75%;
    }

    .contact-content {
        width: 90%;
    }

    .logo-sw {
        width: 20%;
        height: auto;
        position: absolute;
    }

    .movie-poster-div {
        margin: auto;
    }

    .movie-poster {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        width: 100%;
    }
 }