/* For ALL pages */

/* Navigation bar */
.topnav {
    overflow: hidden;
    float: right;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
    font-family: rusticPrinted;
    /* z-index: 9; */
    /* position: absolute; */
}
  
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: rusticPrinted;
}
  
.topnav a:hover {
    color: red;
}

.topnav a.active {
    text-decoration: underline;
}

/* General */
@font-face {
    font-family: rusticPrinted;
    src: url('rustic-printed-9718688/Rustic Printed.ttf');
}

.absolute-position {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0.99;
}

body {
    background-color: black;
    color: white;
    font-family: rusticPrinted;
}

.center {
    margin: auto;
    /* width: 50%; */
    padding: 10px;
}

.content-container {
    display: inline;
}

.social-media-banner {
    max-height: 50px;
}

img {
    object-fit: cover;
    margin: 3px;
    padding: 3px;
}

p {
    text-align: center;
    font-family: rusticPrinted;
}

/* home page */
.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo-w {
    max-width: 50%;
    height: auto;
}

/* about, projects, contact pages */
.logo-sw {
    width: 15%;
    height: auto;
}

/* Projects page */
.movie-logo-w {
    max-width: 80%;
    height: auto;
}

.movie-poster {
    max-width: 90%;
    height: auto;
    display: inline;
}

/* Projects page: Gallery */
#selected-photo img {
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    display: inline-block;
}

.prev {
    margin-right: 0;
    margin-left: auto;
    right: 0;
}

.next {
    margin-left: 0;
    margin-right: auto;
    left: 0;
}

.prev:hover, .next:hover {
    color: red;
}

#photo-options {
    overflow: scroll;
    white-space:nowrap;
    margin: auto;
    width: 100%;
    padding: 10px;
}

#photo-options img {
    max-width: 25%;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    display:inline-block;
}

.unselected {
    opacity: 0.4;
    border: 2px solid transparent;
}

.unselected:hover {
    opacity: 1;
}

.selected {
    border: 2px solid red;
    margin: -2px;
}

/* Contacts page */
.contact-content a {
    color:white;
}

.contact-content a:hover {
    color:red;
}

.contact-content p {
    margin-bottom: 0px;
    line-height: 10px;
}