body {
    background-color: black;
    color: white;
}

.topnav {
    overflow: hidden;
    float: right;
    color: white;
}
  
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: canter3D;
}
  
.topnav a:hover {
    color: red;
}

.topnav a.active {
    text-decoration: underline;
}
  
.topnav-right {
    float: right;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.social-media-banner {
    max-height: 50px;
}

img {
    object-fit: cover;
    margin: 3px;
    padding: 3px;
}

p {
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo-w {
    max-width: 500px;
    height: auto;
}

.movie-logo-w {
    max-width: 800px;
    height: auto;
}

#selected-photo img {
    max-width: 750px;
    height: auto;
}

#photo-options img {
    max-width: 250px;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
}

#photo-options {
    overflow: hidden;
}