/* For ALL pages */

/* Navigation bar */
.topnav {
    overflow: hidden;
    float: right;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
    font-family: rusticPrinted;
    /* z-index: 9; */
    /* position: absolute; */
}
  
.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: rusticPrinted;
}
  
.topnav a:hover {
    color: red;
}

.topnav a.active {
    text-decoration: underline;
}

/* General */
@font-face {
    font-family: rusticPrinted;
    src: url('rustic-printed-9718688/Rustic Printed.ttf');
}

body {
    background-color: black;
    color: white;
    font-family: rusticPrinted;
}

.center {
    margin: auto;
    padding: 10px;
}

img {
    object-fit: cover;
    margin: 3px;
    padding: 3px;
}

p {
    text-align: center;
    font-family: rusticPrinted;
}

span.upper-case {
    font-size:20px;
}

/* home page */
.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo-w {
    max-width: 50%;
    height: auto;
}

/* Projects page */
.movie-logo-w {
    max-width: 80%;
    height: auto;
}

.movie-poster {
    max-width: 90%;
    height: auto;
    margin: auto;
}

/* Projects page: Gallery */
#selected-photo img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    /* display: inline-block; */
}

.prev {
    margin-right: 0;
    margin-left: auto;
    right: 0;
}

.next {
    margin-left: 0;
    margin-right: auto;
    left: 0;
}

.prev:hover, .next:hover {
    color: red;
}

#photo-options {
    overflow: scroll;
    white-space:nowrap;
    margin: auto;
    width: 100%;
    padding: 10px;
}

#photo-options img {
    max-width: 25%;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    display:inline-block;
}

.unselected {
    opacity: 0.4;
    border: 2px solid transparent;
}

.unselected:hover {
    opacity: 1;
}

.selected {
    border: 2px solid red;
    margin: -2px;
}

/* Contacts page */
.contact-content a {
    color:white;
}

.contact-content a:hover {
    color:red;
}

.contact-content p {
    margin-bottom: 5px;
}


@media screen and (min-width:821px) {
    .topnav a {
        padding: 14px 16px;
        font-size: 17px;
    }

    .social-media-banner {
        height: 50px;
        width: 50px;
    }
    
    .embedded-movie-description-grid p {
        font-size: 40px;
    }
    
    /* about, projects, contact pages */
    .logo-sw {
        width: 15%;
        height: auto;
    }
    
    .about-content p {
        width: 75%;
        align-self: center;
    }
    
    .project-content {
        width: 75%;
    }

    #selected-photo img {
        max-width: 90%;
    }
    
    .contact-content {
        width: 50%;
    }
    
    .poster-watch-grid {
        display: block;
    }

    .poster-watch-grid div {
        float: left;
        width: 50%;
    }

}

@media only screen and (max-width: 820px) {
    .topnav a {
        padding: 8px 10px;
        font-size: 12px;
    }

    .social-media-banner {
        height: 30px;
        width: 30px;
    }

    .embedded-movie-description-grid p {
        font-size: 14px;
    }

    .about-content {
        width: 90%;
        text-align: center;
    }

    .project-content {
        width: 90%;
    }

    #selected-photo img {
        max-width: 75%;
    }

    .contact-content {
        width: 90%;
    }

    .logo-sw {
        width: 45%;
        height: auto;
    }

    .poster-watch-grid div {
        display: block;
        width: 90%;
        margin: auto;
    }

    .movie-poster-div {
        margin: auto;
    }

    .movie-poster {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }
 }